[flake8]
# Ignore folders that should not be linted
exclude = 
    .git,
    __pycache__,
    .venv,
    env,
    build,
    dist

# Optional: make linting a bit friendlier
max-line-length = 100
max-complexity = 10
